@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "TTF";
    src: url("../public/TTFirsNeue-Medium.ttf");
    /* font-family: "TTFb";
    src: url("../public/TTFirsNeue-Bold.ttf"); */
  }
@font-face {
     font-family: "TTFb";
    src: url("../public/TTFirsNeue-DemiBold.ttf");
  }
@font-face {
     font-family: "TTFr";
    src: url("../public/TTFirsNeue-Regular.ttf");
  }

  @layer base {

    .box{
     @apply bg-[#F3F9FF] mt-[50px] py-[5%] px-[20px] -skew-y-5
    }
    .box1{
     @apply bg-[#F3F9FF] -skew-y-5
    }

    .box > .wrapper {
      @apply skew-y-5
    }
  }